body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}
h1{
    text-align: center;

    /* margin-left: 38%; */
    color: salmon;
}
form{
    margin: auto;
    background-color: rgba(228,242,255);
    border-radius: 8px;
    box-sizing: 0 4px 8px rgba(0,0,0,0.5);
    padding: 20px;
    max-width: 600px;

}
fieldset{
    border: 2px solid salmon;
    margin-bottom: 20px;
    background-color: aliceblue;
    border-radius: 8px;
}
legend{
    font-weight: bold;
    text-align: left;
    color: green;
}
label{
    display: block;
    margin-top: 10px;
    color: green;
}
input,textarea{
     margin-top: 4px;
    padding: 8px;
    /* width: calc(100%-1%); */
    width: 500px;
    border: 1px solid  green;
    border-radius: 4px;
    box-sizing: border-box;
    color: green; 
} 
input::placeholder,textarea::placeholder{
    color: green;
    font-family: cursive;

}

button{
    display: block;
    width: 100%;
    background-color: salmon;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
    outline: none;
}
button:hover{

background-color: lightsalmon;}
#resume-display{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid salmon;
    border-radius: 8px;
    background-color: rgba(228,242,255);
    color: green;
    /* Making the resume editable************** */
    outline: none;

}
#resume-display h2{
    color: darksalmon;
}
#resume-display img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
  }